# Reference
#    - https://github.com/actions/checkout

name: ci-manifest

on:
  pull_request:

  push:
    branches:
      - "master"
      - "v*x"
      - "!auto-update-lockfiles"
      - "!pre-commit-ci-update-config"
      - "!dependabot/*"
    tags:
      - "v*"

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  manifest:
    name: "check-manifest"
    uses: scitools/workflows/.github/workflows/ci-manifest.yml@2024.06.0
